@{
    ViewData["Title"] = "Home Page";
}


<div class="container-card"

            <div class="col-md-4 col-sm-6">
            <div>
                <h4>CLEAN DESIGN</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec sit amet lectus mauris Non duro travo ludo.</p>
            </div>
            </div>
            <div class="col-md-4 col-sm-6">
            <div>
                <h4>CLEAN DESIGN</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec sit amet lectus mauris Non duro travo ludo.</p>
            </div>
            </div>
</div>
